/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
html {
    font-family: 'Open Sans', sans-serif;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}
.container-small {
    max-width: 700px;
    margin: 0 auto;
}
.link-list a{
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-weight: 700;
}
.button {
    border-radius: 99px;
    border: none;
    padding: 10px 15px;
    font-size: 1.3em;
}
.button-small {
    font-size: 1em;
}



/* HEADER */
header #top{
    background-color: #3161e0;
    padding: 10px 0;
}
header #top .my-row-1 {
    display: flex;
}
header #top .my-row-1 > * {
    padding: 10px;
    display: flex;
    align-items: center;
}
header .link-list > * {
    display: inline;
}
header #logo {
    width: 25%;
}
header #navbar {
    width: 50%;
    justify-content: space-around;
}
header #navbar nav ul > *{
    padding: 0 5px;
}
header #login {
    width: 25%;
    justify-content: end;
}

header #bottom {
    background-image: url('../img/jumbo.png');
    background-size: cover;
}
header #bottom .my-row-2 {
    padding: 50px 0;
}
header #header-bottom-section {
    padding: 10px;
    text-align: center;
    color: white;
}
header #header-bottom-section h1 {
    font-size: 3em;
    margin-bottom: 30px;
}
header #header-bottom-section p {
    font-size: 1.1em;
    margin-bottom: 20px;
}


/* MAIN */
main > * .container {
    padding: 50px 0;
}
main section:not(#fourth) > .container {
    display: flex;
}
main .section-big {
    width: 60%;
    height: 400px;
}
main .section-small {
    width: 40%;
    height: 400px;
}

main .section-bigger {
    width: 100%;
    height: 800px;
}
main section:nth-child(even) {
    background-color: #d3d3d3;
}


/* FOOTER */
#footer-top, #footer-bottom {
    border-bottom: 2px solid gray;
}
footer #footer-top .container{
    padding: 5px 0 25px;
    display: flex;
}
footer #footer-top .container > * {
    height: 600px;
}
footer #footer-top .section-small {
    width: calc(100% / 3);
}
footer #footer-top .section-big {
    width: calc((100% / 3) * 2);
    display: flex;
}
footer #footer-top .section-smaller {
    width: 25%;
}
footer #footer-bottom {
    padding-top: 20px;
}
footer #footer-bottom #footer-info {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}
footer #footer-bottom #footer-info > * {
    padding: 5px 10px;
}





/* DEBUG */


.debug header #top .my-row-1 > * {
    border: 2px dotted black;
}

.debug header #bottom #header-bottom-section {
    border: 2px dotted black;
}


.debug main .section-big {
    background-color: #1e90ff;
    border: 2px dotted black;
}
.debug main .section-small {
    background-color: #ffc0cb;
    border: 2px dotted black;
}
.debug main .section-bigger {
    background-color: #228b22;
    border: 2px dotted black;
}


.debug footer .section-small {
    background-color: #f08080;
    border: 2px dotted black;
}
.debug footer .section-big {
    border: 2px dotted black;
}
.debug footer .section-smaller {
    background-color: #20b2aa;
    border: 2px dotted black;
}
.debug footer > * {
    background-color: #23272a;
}
.debug footer #footer-info {
    background-color: #7fffd4;
}
.debug footer .container #footer-info> * {
    background-color: #ffb6c1;
    border: 2px dotted black;
}