/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
html {
    font-family: 'Open Sans', sans-serif;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}
.container-small {
    max-width: 700px;
    margin: 0 auto;
}
.link-list {
    list-style-type: none;
}
.link-list a{
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.link-list a:hover{
    text-decoration: underline;
}
.button {
    border-radius: 99px;
    border: none;
    padding: 10px 20px;
    font-size: 1.3em;
}
.button:hover {
    transform: scale(1.05);
}
.button-small {
    font-size: 1em;
}
.charleston-green {
    color: white;
    background-color: #23272a;
}
.light-cobalt-blue  {
    color: white;
    background-color: #8ea1e1;
}



/* HEADER */
header #top{
    background-color: #3161e0;
    padding: 10px 0;
}
header #top .my-row-1 {
    display: flex;
}
header #top .my-row-1 > * {
    padding: 10px;
    display: flex;
    align-items: center;
}
header .link-list > * {
    display: inline;
}
header #logo {
    width: 15%;
}
header #navbar {
    width: 70%;
    justify-content: space-around;
}
header #navbar nav ul > *{
    padding: 0 10px;
}
header #login {
    width: 15%;
    justify-content: end;
}

header #bottom {
    background-image: url('../img/jumbo.png');
    background-size: cover;
}
header #bottom .my-row-2 {
    padding: 50px 0;
}
header #header-bottom-section {
    padding: 10px;
    text-align: center;
    color: white;
}
header #header-bottom-section h1 {
    font-size: 3em;
    margin-bottom: 30px;
}
header #header-bottom-section p {
    font-size: 1.1em;
    margin-bottom: 20px;
}
header #header-bottom-section .my-buttons {
    display: flex;
    justify-content: space-around;
}


/* MAIN */
main > * .container {
    padding: 50px 0;
}
main section:not(#fourth) > .container {
    display: flex;
}
main .main-img {
    width: 90%;
}
main .section-big {
    width: 65%;
}
main .section-small {
    color: #23272a;
    width: 35%;
}
main .main-title {
    font-size: 2.5em;
}
main .main-paragraph {
    margin-top: 20px;
}

main .section-bigger {
    width: 100%;
    text-align: center;
}
main .section-bigger-top {
    padding: 5% 10% 0;
}
main .section-bigger-bottom .main-subtitle {
    font-size: 1.45em;
}
main .section-bigger-bottom .subtitle-container {
    width: 70%;
    margin: 0 auto;
    padding: 30px 0;
}
main  .section-bigger-bottom .subtitle-container .background-stars {
    height: 50px;
    background-image: url('../img/stars.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-bottom: -15px;
}

main section:nth-child(even) {
    background-color: #d3d3d3;
}

main section#second {
    margin: 90px 0;
}
main section#second::before {
    content: url('../img/wave.svg');
    display: block;
    transform: translate(0, -90%);
}
main section#second::after {
    content: url('../img/wave.svg');
    display: block;
    transform: translate(0, 90%) rotate(180deg);
}

main section#fourth {
    margin-top: 90px;
}
main section#fourth::before {
    content: url('../img/wave.svg');
    display: block;
    transform: translate(0, -90%);
}

/* FOOTER */
footer {
    background-color: #23272a;
}
footer #footer-top .my-row {
    padding: 30px 0;
    display: flex;
}
footer #footer-top .section-small {
    width: calc(100% / 3);
}
footer #footer-top .section-big {
    width: calc((100% / 3) * 2);
    display: flex;
}
footer #footer-top .section-smaller {
    width: 25%;
}
footer #footer-top .footer-title {
    font-size: 2em;
}
footer #footer-top .language {
    color: white;
    margin: 20px 0;
}
footer #footer-top .language img {
    height: 16px;
}
footer #footer-top .social-link a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    margin-right: 25px;
}
footer #footer-top .link-list h4, .footer-title {
    color: #6c81ce;
}
footer #footer-top .link-list li {
    margin-bottom: 10px;
}
footer #footer-top hr {
    border-color: #8ea1e1;
}

footer #footer-bottom {
    padding: 20px;
}
footer #footer-bottom #footer-info {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}
footer #footer-bottom #footer-info > * {
    padding: 10px 15px;
}





/* DEBUG */


.debug header #top .my-row-1 > * {
    border: 2px dotted black;
}

.debug header #bottom #header-bottom-section {
    border: 2px dotted black;
}


.debug main .section-big {
    border: 2px dotted black;
}
.debug main .section-small {
    border: 2px dotted black;
}
.debug main .section-bigger {
    border: 2px dotted black;
}


.debug footer .section-small {
    border: 2px dotted chocolate;
}
.debug footer .section-big {
    border: 2px dotted chocolate;
}
.debug footer .section-smaller {
    border: 2px dotted white;
}
.debug footer #footer-info {
    border: 2px dotted white;
}
.debug footer .container #footer-info> * {
    border: 2px dotted white;
}